
.form-register {
    height: 80vh;
    background: rgb(245, 245, 245, 0.714);
    padding: 2rem;
    border-radius: 5px;
    font-family: 'calibri';
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url(../../public/image/bg-form.jpg);
    background-position: 90% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

form{
    width: 500px;
    padding: 2rem;
    background-color: white;
    margin-left: 17vw;
}

h4 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.controls {
    width: 100%;
    background-color: rgba(69, 165, 255);
    background: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3rem;
    border: none;
    outline: none;
    font-family: 'calibri';
    font-size: 24px;
}

.controls:focus {
    outline: 2px solid rgba(69, 165, 255);

}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.form-register a {
    color: black;
    text-decoration: none;
}

.form-register a:hover {
    color: rgb(0, 58, 113);
}


.form-register .btn {
    width: 100%;
    background-color: rgba(69, 165, 255);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(124, 124, 124);
}

