.form-register {
    height: 90vh;
    background: rgb(245, 245, 245, 0.714);
    font-family: 'calibri';
    color: whitesmoke;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Covered By Your Grace';
    font-size: 3rem;
    letter-spacing: 2px;
    color: #f03835; 
}

.font-family-app {
    font-family: 'Anton';
    font-size: 2rem;
}

form{
    width: 500px;
    padding: 2rem;
    background-color: rgba(74, 74, 74, 0.213);
    border-radius: 5px;
}

h4 {
    font-size: 2rem;
    margin: 2rem 0;
}

.controls {
    color: white;
    width: 100%;
    background-color: #45a5ff;
    background: rgba(74, 74, 74, 0.213);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3rem;
    border: none;
    outline: none;
    font-family: 'calibri';
    font-size: 24px;
}

.controls:focus {
    outline: 6px solid rgba(69, 165, 255);
    outline: 4px solid rgba(69, 165, 255);
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: rgb(0, 58, 113);
}


.form-register .btn {
    width: 100%;
    background-color: rgba(69, 165, 255);
    background-color: rgb(240 56 53);
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(124, 124, 124);
}

