.card {
    display: grid;
    width: 250px;
    height: 400px;
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(74, 74, 74, 0.213);
    border-radius: 5px;
    text-align: center;
}

li{
    display: grid;
    justify-items: right;
}

button{
    padding: 0.5rem;
    margin: 0.2rem;
}