.card {
    display: grid;
    width: 250px;
    height: 400px;
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(74, 74, 74, 0.213);
    border-radius: 5px;
    text-align: center;
}

.button-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    grid-template-columns: 1rem 1rem 1rem;
    
}

.card-button{
    padding: 0.5rem;
    margin: 0.2rem;
    font-weight: bolder;
    border: none;
    color:black;
    background: linear-gradient(145deg, #686868, #e1d7c8);
    box-shadow: 6px 6px 20px -1px #d5cbbd,
        -6px -6px 20px -1px #ffffff;
}